body{
    margin: 0;
    
}
.container{
    max-width: 600px;
    margin: 40px auto;
    padding: 20px;
    border-radius: 8px;
    border: 2px solid black;
}
button{
    padding: 10px;
    margin-top: 20px;
    border: none;
    border-radius: 6px;
    background-color: rgb(185, 122, 244);
}
input, textarea{
    width: 100%;
    padding: 8px;
    margin-top: 6px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.light{
    background-color: aliceblue;
    color: gray;
}
.dark{
    background-color: rgb(26, 39, 39);
    color: #ccc;
}